@page "/CinemaChains/Details/{CinemaChainId:guid}"

@attribute [Authorize(Policy = Permissions.NontonFilm_CinemaChain_View)]

@using Zeta.NontonFilm.Bsui.Common.Extensions
@using Zeta.NontonFilm.Shared.CinemaChains.Queries.GetCinemaChain
@using Zeta.NontonFilm.Shared.Cinemas.Queries.GetCinemas

<BrowserTabTitle>@DisplayTextFor.CinemaChain</BrowserTabTitle>
<MudBreadcrumbs Items="_breadcrumbItems"></MudBreadcrumbs>
<ErrorViewer Error="@_error" />

@if (_cinemaChain is not null)
{
    <PageHeader Title="@_cinemaChain.Name" />
    <div class="mb-5">
        <AuthorizeView>
            <Authorized>
                @if (context.User.HasPermission(Permissions.NontonFilm_CinemaChain_Edit))
                {
                    <MudButton Variant="Variant.Filled" Color="Color.Secondary" Href="@RouteFor.Edit(_cinemaChain.Id)">@CommonDisplayTextFor.Edit</MudButton>
                }
            </Authorized>
        </AuthorizeView>
        <AuthorizeView>
            <Authorized>
                @if (context.User.HasPermission(Permissions.NontonFilm_CinemaChain_Delete))
                {
                    <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="ShowDialogDelete">@CommonDisplayTextFor.Delete</MudButton>
                }
            </Authorized>
        </AuthorizeView>
    </div>
    <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6" Color="Color.Dark">
        <MudTabPanel Text="@CommonDisplayTextFor.GeneralInfo">
            <MudGrid>
                <MudItem xs="12">
                    <MudField Label="@DisplayTextFor.Name">@_cinemaChain.Name</MudField>
                </MudItem>
                <MudItem xs="12">
                    <MudField Label="@DisplayTextFor.OfficeAddress">@_cinemaChain.OfficeAddress</MudField>
                </MudItem>
                <MudItem xs="6">
                    <MudField Label="@DisplayTextFor.PhoneNumber">@_cinemaChain.PhoneNumber</MudField>
                </MudItem>
                <MudItem xs="6">
                    <MudField Label="@DisplayTextFor.EmailAddress">@_cinemaChain.EmailAddress</MudField>
                </MudItem>
                <MudItem xs="6">
                    <MudField Label="@CommonDisplayTextFor.Created">@_cinemaChain.Created</MudField>
                </MudItem>
                <MudItem xs="6">
                    <MudField Label="@CommonDisplayTextFor.Modified">@_cinemaChain.Modified</MudField>
                </MudItem>
            </MudGrid>
        </MudTabPanel>
        <MudTabPanel Text="Cinema">
            <MudTable ServerData="@(new Func<TableState, Task<TableData<GetCinemas_Cinema>>>(ReloadTableCinemas))"
                  @ref="_tableCinemas"
                  Height="400px"
                  FixedHeader="true"
                  Hover="true"
                  Bordered="true">
                <ToolBarContent>
                    <AuthorizeView>
                        <Authorized>
                            @if (context.User.HasPermission(Permissions.NontonFilm_Cinema_Add))
                            {
                                <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Filled.PostAdd" OnClick="(() => ShowDialogAddCinema(CinemaChainId))">@CommonDisplayTextFor.Add @DisplayTextFor.Cinema</MudButton>
                            }
                        </Authorized>
                    </AuthorizeView>
                    <MudSpacer />
                    <MudTextField T="string"
                              ValueChanged="@(keyword => OnSearch(keyword))"
                              Placeholder="Search"
                              Adornment="Adornment.Start"
                              AdornmentIcon="@Icons.Material.Filled.Search"
                              IconSize="Size.Medium">
                    </MudTextField>
                </ToolBarContent>
                <HeaderContent>
                    <MudTh>
                        <MudTableSortLabel SortLabel="@nameof(GetCinemas_Cinema.Name)" T="GetCinemas_Cinema">@DisplayTextFor.Name</MudTableSortLabel>
                    </MudTh>
                    <MudTh>
                        <MudTableSortLabel SortLabel="@nameof(GetCinemas_Cinema.CinemaChainName)" T="GetCinemas_Cinema">@DisplayTextFor.CinemaChain</MudTableSortLabel>
                    </MudTh>
                    <MudTh>
                        <MudTableSortLabel SortLabel="@nameof(GetCinemas_Cinema.CityName)" T="GetCinemas_Cinema">@DisplayTextFor.City</MudTableSortLabel>
                    </MudTh>
                    <MudTh>
                        <MudTableSortLabel SortLabel="@nameof(GetCinemas_Cinema.Address)" T="GetCinemas_Cinema">@DisplayTextFor.Address</MudTableSortLabel>
                    </MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="@DisplayTextFor.Name">
                        <MudLink Href="@RouteFor.CinemaDetails(context.Id)">
                            <MudHighlighter Text="@context.Name" HighlightedText="@_keyword" />
                        </MudLink>
                    </MudTd>
                    <MudTd DataLabel="@DisplayTextFor.CinemaChain">
                        <MudHighlighter Text="@context.CinemaChainName" HighlightedText="@_keyword" />
                    </MudTd>
                    <MudTd DataLabel="@DisplayTextFor.City">
                        <MudHighlighter Text="@context.CityName" HighlightedText="@_keyword" />
                    </MudTd>
                    <MudTd DataLabel="@DisplayTextFor.Address">
                        <MudHighlighter Text="@context.Address" HighlightedText="@_keyword" />
                    </MudTd>
                </RowTemplate>
                <NoRecordsContent>
                    <MudText>No matching records found</MudText>
                </NoRecordsContent>
                <LoadingContent>
                    <MudText>Loading...</MudText>
                </LoadingContent>
                <PagerContent>
                    <MudTablePager />
                </PagerContent>
            </MudTable>

        </MudTabPanel>
    </MudTabs>
}
